body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 400px;
}
.input-style{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5px;
}
.input-style input{
    flex: 1;
}

#tasklist{
    padding: 0;
}
#tasklist li {
    background: #f9f9f9;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
}

#tasklist li input{
    float: left;
    margin-right: 5px;
}


button {
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.deleteBtn {
    background: #ff4d4d;
    color: #fff;
    float: right;
}
#addBtn {
    background: #007bff;
    color: #fff;
}